<% if authenticated? %>
    <%= link_to "Create a project", new_user_project_path(user_id: @user.id), class: "border rounded-md px-4 py-2 bg-primary text-black" %>
<% end %>

<% @projects.each do |project| %>
  <div>
    <h2>Créé par: <%= project.user.email_address %></h2>
    <h2>Nom du projet: <%= project.name %></h2>
    <p>Description: <%= project.description %></p>
  </div>
<% end %>
