<nav class="bg-gray-300 flex justify-between">
    <%= link_to "Home", root_path, class: "border rounded-md px-4 py-2 bg-primary text-black ml-10" %>

    <% if authenticated? %>
        <%= link_to "Log out", session_path, method: :delete, class: "border rounded-md px-4 py-2 bg-primary text-black mr-10" %>
    <% end %>
</nav>
